.items-col {
    display: flex;
    flex-direction: column;
    
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #e3e3e3;
}

.items-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.items-content > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.items-content > div > span {
   margin-top: 8px;
}

.items-title {
    font-size: medium;
    font-weight: bold;
}

.items-row-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}