.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  color: #ffffff;
}

.card {
  /* background-color: #fff; */
  max-width: 360px;
  padding: 40px;
}

.form-container {
  /* display: flex; */
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.btn {
  width: 100%;
}
